<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= "Tristan's Portfolio - Ballmer Peak Portfolio" %></title>
  <%= stylesheet_link_tag 'tristanStyles', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<header>
  <h1>Tristan's Portfolio</h1>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Login', 'auth/login.html' %></li>
      <li><%= link_to 'Sign Up', 'auth/register.html' %></li>
    </ul>
  </nav>
</header>
<main>
  <section class="introduction">
    <h2>About Me</h2>
    <p> INTRODUCTION </p>
  </section>

</main>
</body>
</html>
