<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= "Charlie's Portfolio - Ballmer Peak Portfolio" %></title>
  <%= stylesheet_link_tag 'charlieStyles', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<header>
  <h1>Charlie's Portfolio</h1>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
    </ul>
  </nav>
</header>
<main>
  <section class="introduction">
    <h2>About Me</h2>
    <p>Hello! My name is Charles David Wilmot II, but you can call me Charlie.
      I have a diverse range of interests spanning real estate, space exploration,
      volleyball, piano, fishing, machine learning, AI, systems engineering, and
      computer science and engineering. I am passionate about solving complex problems and
      constantly seeking out new challenges.</p>
  </section>

  <!-- New Section: Undergraduate Research -->
  <section class="undergraduate-research">
    <h2>Undergraduate Research Recognition</h2>
    <%= image_tag 'charliesImages/bannerPhoto.jpeg', alt: 'Charlie in the Downtown Banner Campaign', class: 'feature-image small-image' %>
    <p>I was recently selected for the downtown banner campaign for my undergraduate research work. This has been a great honor and a testament to the hard work and dedication I have put into my studies and research activities.</p>
  </section>

  <!-- New Section: Volleyball -->
  <section class="volleyball">
    <h2>Volleyball</h2>
    <%= image_tag 'charliesImages/volleyballPhoto.JPG', alt: 'Charlie Fishing', class: 'feature-image small-image' %>
    <p>I have played Volleyball here all four years and am currently the president of the club.</p>
  </section>

  <!-- New Section: Fishing Hobby -->
  <section class="fishing-hobby">
    <h2>Fishing Adventures</h2>
    <div class="fishing-images">
      <%= image_tag 'charliesImages/fishPhoto.jpg', alt: 'Charlie Fishing', class: 'fishing-image' %>
      <%= image_tag 'charliesImages/fishPhoto2.jpeg', alt: 'Charlie Fishing', class: 'fishing-image' %>
      <%= image_tag 'charliesImages/fishPhoto3.jpeg', alt: 'Charlie Fishing', class: 'fishing-image' %>
    </div>
    <p>Fishing has always been a passion of mine. In this picture, I am proud to have caught a beautiful blue gill, a large bass, and mahi mahi.</p>
  </section>

  <!-- New Section: Work at Space Force -->
  <section class="space-force">
    <h2>Space Force Experience</h2>
    <div class="space-force-images">
      <%= image_tag 'charliesImages/spaceForce.PNG', alt: 'Charlie at Space Force', class: 'space-force-image' %>
      <%= image_tag 'charliesImages/spaceForce2.PNG', alt: 'Charlie at Space Force', class: 'space-force-image' %>
      <%= image_tag 'charliesImages/spaceForce3.PNG', alt: 'Charlie at Space Force', class: 'space-force-image' %>
    </div>
    <p>I had the unique opportunity to work at the Space Force, contributing to important missions and projects. I am excited to return and continue my career there after graduation.</p>
  </section>

  <!-- New Section: Eagle Scout -->
  <section class="eagle-scout">
    <h2>Eagle Scout</h2>
    <%= image_tag 'charliesImages/eagleScout.JPG', alt: 'Eagle Scout', class: 'feature-image small-image' %>
    <p>I earned the rank of Eagle Scout in 2019 and served as Senior Patrol Leader (SPL) my last year of Boy Scouts</p>
  </section>

  <!-- New Section: Eagle Scout -->
  <section class="space">
    <h2>Space</h2>
    <%= image_tag 'charliesImages/space.JPG', alt: 'Eagle Scout', class: 'feature-image small-image' %>
    <p>Every since I was a little kid, I have been infatuated with Space</p>
  </section>

  <section class="projects">
    <h2>My Projects</h2>
    <div class="project">
      <h3>ML/AI Data Analytics Project: SSJI Disease</h3>
      <p>This project focused on analyzing and predicting the spread of SSJI disease using machine learning and AI techniques.</p>
      <!-- Add more details, images, links, etc. -->
    </div>
    <div class="project">
      <h3>MAGIC Project - NASA TRACERS Mission</h3>
      <p>I had the incredible opportunity to be selected as a software engineer on the MAGIC project, a part of NASA's TRACERS mission.</p>
      <!-- Add more details, images, links, etc. -->
    </div>
    <!-- Add more projects as needed -->
    <div class="project">
      <h3>Optimizing Model Selection in Low Variability Datasets with Imbalanced Dependent Variables</h3>
      <p>Using different ML models to predict results with low variability datasets</p>
    </div>
    <div class="project">
      <h3>Environmental Sensor</h3>
      <p>This embedded systems project focused on creating an Environmental Station to measure temperature, pressure, humidity, and other atmospheric readings</p>
      <!-- Add more details, images, links, etc. -->
    </div>
  </section>

  <section class="skills-carousel">
    <h2>Skills & Technologies</h2>
    <div class="carousel">
      <div class="carousel-container">
        <div class="carousel-slide">
          <%= image_tag 'icons/python.png', alt: 'Python' %>
          <%= image_tag 'icons/java.png', alt: 'Java' %>
          <%= image_tag 'icons/cpp.png', alt: 'C++' %>
          <%= image_tag 'icons/c.png', alt: 'C' %>
          <%= image_tag 'icons/ruby.png', alt: 'Ruby' %>
          <%= image_tag 'icons/matlab.jpg', alt: 'MATLAB' %>
          <%= image_tag 'icons/html.png', alt: 'HTML' %>
          <%= image_tag 'icons/css.png', alt: 'CSS' %>
          <%= image_tag 'icons/js.png', alt: 'JS' %>
          <%= image_tag 'icons/github.png', alt: 'GitHub' %>
          <%= image_tag 'icons/jira.png', alt: 'JIRA' %>
          <%= image_tag 'icons/pandas.png', alt: 'Pandas' %>
          <%= image_tag 'icons/numpy.png', alt: 'NumPy' %>
          <%= image_tag 'icons/scikit-learn.png', alt: 'SciKit Learn' %>
          <%= image_tag 'icons/seaborn.png', alt: 'Seaborn' %>
          <%= image_tag 'icons/tensorflow.png', alt: 'tensorflow' %>
          <%= image_tag 'icons/mongodb.png', alt: 'MongoDB' %>
          <%= image_tag 'icons/postgres.png', alt: 'Postgres' %>
          <%= image_tag 'icons/neo4j.png', alt: 'Neo4J' %>
          <%= image_tag 'icons/jetbrains.png', alt: 'Jetbrains' %>
          <%= image_tag 'icons/vscode.png', alt: 'VS Code' %>
          <%= image_tag 'icons/arduino.png', alt: 'Arduino' %>
          <%= image_tag 'icons/realestate.png', alt: 'RealEstate' %>
          <%= image_tag 'icons/fishing.png', alt: 'Fishing' %>
          <%= image_tag 'icons/volleyball.png', alt: 'Volleyball' %>
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <h2>Contact Me</h2>
    <p>Feel free to reach out to me for any inquiries or collaborations. I'm always open to discuss new opportunities and projects!</p>
    <p>Email: <a href="mailto:chazwilmot@gmail.com">chazwilmot@gmail.com</a></p>
    <p>Phone: (310) 779-8746</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/charles-wilmot/" target="_blank">Charles Wilmot</a></p>
  </section>

  <section class="comments" id="comments">
    <% if user_signed_in? %>
      <h2>Comments</h2>
      <%= render 'comments/comment_list', comments: Comment.where(page: 'charlie').order(created_at: :desc).limit(10) %>
      <div class="comment-form" id="commentForm">
        <%= render 'comments/form', comment: Comment.new %>
      </div>
    <% end %>
  </section>
</main>
<footer>
  <p>© <%= Time.now.year %> Ballmer Peak Portfolio</p>
</footer>
</body>
</html>
